<div>
You are not authorized to access the signs viewer. If you believe you
should have access, please have your supervisor contact
realtimeappsdl@mbta.com.
</div>

<div>
    <.link href={@sign_out_path}>refresh credentials</.link>
</div>
