.rc-tabs-nav {
  line-height: 1.2;
}

.rc-tabs-nav-list {
  display: flex;
}

.rc-tabs-tab {
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
}

.rc-tabs-tab-btn[aria-selected='false'] {
  color: rgb(151, 151, 151);
}

.rc-tabs-tab-active {
  border-bottom: 3px solid blue;
}

.rc-tabs-content {
  background-color: #eee;
  padding: 1rem;
}

.rc-tabs-nav-operations {
  display: none;
}

.rc-tabs-tabpane-hidden {
  display: none;
}
