.viewer--main {
  background-color: white;
  padding-top: 1em;
}

.viewer--toggle-all {
  margin-bottom: 2em;
}

.viewer--line-switcher {
  margin-bottom: 2em;
}

.viewer--sign {
  background-color: rgb(206, 206, 206);
  margin-bottom: 1em;
  width: 20em;
  height: 80px;
}

.viewer--sign-id {
  border-top: 6px solid white;
  float: left;
  text-align: center;
  width: 5em;
}

.viewer--sign-lines {
  background-color: rgb(45, 45, 45);
  margin-left: 5em;
  padding-left: 0.5em;
}

.viewer--sign-line {
  color: rgb(251, 220, 75);
  font-family: monospace;
  font-size: 1.2em;
  height: 40px;
  padding-top: 8px;
  white-space: pre;
}

.viewer--static-text-form {
  background-color: rgb(206, 206, 206);
  margin-bottom: 1em;
  margin-top: -1em;
  padding: 0.25em 0.5em 0.5em 0.5em;
  width: 20em;
}

.viewer--line-input {
  margin-bottom: 0.25em;
  padding-left: 0.25em;
}

.viewer--error-text {
  color: #ff0000;
}

.react-datepicker__time-list-item {
  font-size: smaller;
}

.viewer--schedule-expires {
  background-color: rgb(206, 206, 206);
  margin-bottom: 1em;
  margin-top: -1em;
  padding: 0.25em 0.5em 0.5em 0.5em;
  width: 20em;
}

.viewer--schedule-expires:empty {
  padding: 0em 0em 0em 0em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.viewer--mode-select {
  width: 70px;
}

.viewer--configured-headways-form {
  border: 1px solid #6c757d;
  border-radius: 0 0 .25rem .25rem;
  border-top: 0;
  padding: 1rem;
  position: relative;
}

.viewer--configured-headways-form input[type='number'] {
  width: 3rem;
}

.viewer--configured-headways-form-edit-button {
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.viewer--configured-headways-form.disabled,
.viewer--configured-headways-form.disabled input {
  background-color: rgb(240,240,240);
}

.viewer--configured-headways-form-toggle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.viewer--configured-headways-form-toggle i {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  display: inline-block;
  transform: rotate(225deg);
  transition: transform .3s linear;
  width: 10px; height: 10px;
}

.viewer--configured-headways-form-toggle.open {
  border-radius: .25rem .25rem 0 0;
}

.viewer--configured-headways-form-toggle.open i {
  transform: rotate(45deg);
}