.virtual_sign--container {
  background-color: rgb(45, 45, 45);
  margin-left: 5em;
  padding-left: 0.5em;
}

.virtual_sign--line {
  color: rgb(251, 220, 75);
  font-family: monospace;
  height: 40px;
  padding-top: 8px;
  white-space: pre;
  width: 24ch;
}
