<h3>Countdown Signs</h3>
<div>
  <%= form_for @conn, signs_path(@conn, :update), [as: :signs], fn f -> %>
    <%= for {sign_id, sign} <- @signs do %>
      <div>
        <%= checkbox(f, sign_id, value: sign.enabled?, id: sign_id) %>
        &nbsp<label for=<%= sign_id %>><%= sign_id %></label>
      </div>
    <% end %>
    <%= submit "Submit" %>
  <% end %>
</div>
